html{
    background-color: black;
    font-size: 25px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
    font-family: cursive;
}
.yellow{
    background-color: #da9100;
}
.red{
    background-color: #960018;
}
.pink{
    background-color: #f49ac2;
}
.blue{
    background-color: #0fc0fc;
}
.green{
    background-color: #008000;
}
.gray{
    background-color: #344d56;
}
.color-panel{
  text-align: center;
  display: inline-block;
  margin: 20px auto;
  min-width: 100px;
  min-width: 200px;
  border-radius: 12.5%;
}
.font-panel{
  color: white;
  text-align: center;
  margin: 100px;
  display: block;
}
.sub-container{
    text-align: center;
    margin: 15px;
    border: 5px solid white;
    padding: 10px;
}
.comforter{
    color: white;
    font-family: 'Comforter', cursive;
}

.bold-comforter{
    font-weight: bold;
}
.italic-comforter{
    font-style: italic;
}
.roboto{
    color: white;
    font-family: 'Roboto Condensed', sons-serif;
}

.bold-roboto{
    font-weight: bold;
}
.italic-roboto{
    font-style: italic;
}
.yellowtail{
    color: white;
    font-family: 'Yellowtail', cursive;
}

.bold-yellowtail{
    font-weight: bold;
}
.italic-yellowtail{
    font-style: italic;
}

h3{
   font-family: monospace;
   text-decoration: underline;
}

.firstheading{
    color: white;
}

.white{
    color: white;
}
ul{
    color: white;
    list-style-position: inside;
}
.text-panel h1{
    font-family: Nunito Sans;
}
.text-panel h2{
    font-family: Poppins;
}